.container {
   
  margin-top: 20px;

  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;

  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;

  }
  
  .btn-info {
    background-color: #17a2b8;
    color: #fff;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
  }
  
  .table thead {
    background-color: #343a40;
    color: #fff;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }